header{
    display: flex;
    justify-content: right;
}

.blogContainer{
    background-color:antiquewhite;
    margin:0;
    max-width: 50%;
    min-width: 50%;
    align-content: center;
    padding-top: 5pt;
}

