header{
    display: flex;
    justify-content: right;
}

.blogContainer{
    background-color:antiquewhite;
    margin:0;
    align-content: center;
    padding-top: 5pt;
    border-radius: 10pt;
    border: 3pt outset lightblue;
    margin-bottom: 2pt;
}

