.blog-photo{
    max-width:30vh;
    max-height: 30vh;
}

.blog-container{
    min-width: 100%;
    min-height: 200pt;
    border:  2pt solid green;
    display: inline-flex;
    padding: 0;
    margin:0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
    height: 40vh;
}

#smallFooter{
    display: none;
}

.start-page{
    justify-items: center;
    height: 80vh;
}

.blog-list-image{
    /*width: 20vh;
    height: 20vh;*/
    min-width: 1vh;
    min-height: 1vh;
}

.image-container{
    justify-items: center;
}

.start-page-top{
    background-image: url("../images/fantasy-small.gif");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 40vh;
    height: 40vh;
    min-height: 320px;
}

.create-container{
    justify-items: center;
    background-image: url("../images/path.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.input-container{
    margin-bottom: 2em;
}

 label{
    display: block;
    color: #218b2f;
    font-size: 3em;
    margin-bottom: .5em;
 }

 input[type=file]{
    text-align-last: center;
 }

 textarea{
    margin-left: 10pt;
    margin-right: 10pt;
 }

 h1{
    color: blue;
 }

 h2{
    color: #218b2f;
 }

 a{
    margin: 5pt;
    color: green;
    font-size: 3vw;
 }


 .myfooter{
    background-image: url("../images/leaf.gif");
    background-size: contain;
    background-repeat: round;
    background-color: antiquewhite;
    margin-left: 2rem;
    margin-right: 2rem;
    width: -webkit-fill-available;
    border-radius: 10px;
}

.caption_email{
    font-size: 2vw;
    font-family: Italianno;
    color:#5b9e24;
    min-width: fit-content;
    margin-left: 1em;
}

.fa {
  padding: 20px;
  font-size: 26px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.icon-footer{
    fill: #5b9e24;
    margin-left:1em;
}

.error {
        color: red;
        font-size: 0.9em;
        margin-top: 4px;
        display: none;
}

.required-icon{
    color: red;
    display: inline;
    font-size: 1em;
}

select{
    width: 50%;
}

header{
    border-bottom: 5pt solid green;
    padding-bottom: 2pt;
    margin-top: 1rem;
    margin-right: 1rem;
}

body{
    background-color: green;
    min-height: 740px;
    min-width: 300px;
}

p{
        font-size: 2vw;
}

.create-panel-inner{
    width: 80%;
}

#normalFooter{
    display: contents;
    min-width: 100%;
    justify-content: space-between;
}


@media screen and (max-width:757px) {
    .footer-icon{
        display: none;
    }
}

#blogExpandedContainer{
    position:absolute;
    x: 0;
    y:0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    display: flex;
    display: none;
}

#blogExpandedBack{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
}

#expandedImage{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

#blogExpandedFrame{
    width: 80%;
    height: 80%;
    opacity: 1;
    align-self: center;
    z-index: 4;
    position:fixed;
    overflow-y: scroll;
    border-radius: 5%;
    background-color: aliceblue;
}

#blogInformationTitle{
    color: black;
    font-size: 5rem;
    margin: 5rem;
    border-bottom: 2pt solid green;
}

#blogInformationContainer{
    margin:1rem;
}

#blogInformationJustText > h1{
    color: green;
    border-bottom: 2pt solid green;
}

p{
    color: #5b9e24;
}

#blogInformationText{
    margin:5rem;
}

#editButton{
    border-radius: 15%;
    border-color: antiquewhite;
    color: green;

}

.clicked{
        border:none;
}

#deleteButton{
    border-radius: 15%;
    border-color: antiquewhite;
    color:red;
}

#buttonPanel{
    justify-self: end;
}

.title-input{
    width: 50%;
    font-size: 5rem;
    margin: 3rem;
}

.content-input{
    width: 50%;
    min-height: 20rem;
    max-height: 20rem;
}

input[type=file]{
    margin-bottom: 2rem;
}

#textPanel{
    max-height: 25rem;
    overflow-y: scroll;
}

#editForm{
    display: none;
}

#closeButton{
    border-radius: 15%;
    border-color: antiquewhite;
    margin: 1rem;
}

#createForm{
    display: none;
}

hr{
    color:green;
}

/*@media screen and (max-width:757px) {

    #normalFooter{
        display: none;
    }

    #smallFooter{
        display: flex;
    }

    .blog-photo{
        max-width:248px;
        max-height: 248px;
    }

     .blog-list-image{
        width: 50px;
        height: 50px;
    }

    .blog-heading{
        font-size: 12pt;
    }

    .blog-inner{    
        display: flex;
        margin: 0;
    }

    p{
        font-size: 6pt;
    }

    .image-container{
        width: fit-content;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .row>*{
        width: fit-content;
    }

    label{
        font-size: 16pt;
    }*/