.blog-photo{
    max-width: 25rem;
    max-height: 25rem;
}

.blog-container{
    min-width: 100%;
    min-height: 20em;
    border:  2pt solid green;
    display: inline-flex;
    padding: 0;
    margin:0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
}


.start-page{
    justify-items: center;
    
}

.blog-list-image{
    width: 80%;
    height: 80%;
}

.image-container{
    justify-items: center;
}

.start-page-top{
    background-image: url("../images/fantasy-small.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.create-container{
    justify-items: center;
    background-image: url("../images/path.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.input-container{
    margin-bottom: 2em;
}

 label{
    display: block;
    color: #218b2f;
    font-size: 3em;
    margin-bottom: .5em;
 }

 input[type=text]{
    min-width: 50vh;
 }
 textarea{
    min-width: 50vh;
    min-height: 50vh;
    margin-left: 10pt;
    margin-right: 10pt;
 }

 h1{
    color: blue;
 }

 h2{
    color: #218b2f;
    font-size: 26pt;
 }

 a{
    margin: 5pt;
    color: green;
 }


 footer{
    background-image: url("../images/leaf.gif");
    background-size: contain;
    background-repeat: round;
    background-color: white;
    margin-left: 2rem;
    margin-right: 2rem;
}

.caption_email{
    font-size: 2em;
    font-family: Italianno;
    color:#5b9e24;
    text-wrap: none;
    margin-left: 1em;
}

.fa {
  padding: 20px;
  font-size: 26px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.icon-footer{
    fill: #5b9e24;
    margin-left:1em;
}

.error {
        color: red;
        font-size: 0.9em;
        margin-top: 4px;
        display: none;
}

.required-icon{
    color: red;
    display: inline;
    font-size: 1em;
}

select{
    width: 50%;
}

header{
    border-bottom: 5pt solid green;
    padding-bottom: 2pt;
    margin-top: 1rem;
    margin-right: 1rem;
}

body{
    background-color: green;
}